In [2]:
data <- readRDS("phe_113.rdata")

In [ ]:
library(tidyverse)

In [6]:
head(data)

        sample  name ms_tumor ms_normal ms_ratio status year     group
9DW0002 9DW0002 T2   1.039    0.657     1.581431 1      3.347945 High
9DW0003 9DW0003 T3   0.832    0.939     0.886049 2      1.789041 Low
9DW0008 9DW0008 T8   2.966    0.820     3.617073 1      3.342466 High
9DW0014 9DW0014 T14  1.120    0.550     2.036364 2      2.909589 High
9DW0016 9DW0016 T16     NA       NA     0.000000 1      3.369863 negative
9DW0021 9DW0021 T21     NA       NA     0.000000 1      3.367123 negative
        group2       sex    age area     smoke alcohol family_history
9DW0002 High         male   64  higharea no    no      negative
9DW0003 Low_Negative female 65  higharea no    no      negative
9DW0008 High         male   82  higharea yes   yes     positive
9DW0014 High         male   70  higharea no    no      negative
9DW0016 Low_Negative male   67  lowarea  yes   yes     positive
9DW0021 Low_Negative male   60  higharea no    no      positive
        differentiation number_of_lymph Metastasis TNM_stage Stage
9DW0002 low              5              positive   T2N2M0    IIIB
9DW0003 low             12              positive   T3N3M0    IVA
9DW0008 middle           9              positive   T3N3M0    IVA
9DW0014 middle           6              positive   T3N2M0    IIIB
9DW0016 low              4              positive   T3N2M0    IIIB
9DW0021 middle           0              negative   T1bN0M0   IB

In [7]:
data %>% count(group)

  group    n
1 High     42
2 Low      45
3 negative 26